<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI8K_gPBz-WxNk6gFnLCjPlpekYclj6Os</string>
	<key>GCM_SENDER_ID</key>
	<string>916988200402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ramahdanOgp</string>
	<key>PROJECT_ID</key>
	<string>ramadhan-ogp</string>
	<key>STORAGE_BUCKET</key>
	<string>ramadhan-ogp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916988200402:ios:fee65cfe74e59bab50740b</string>
</dict>
</plist>